div {
  transition: 0.5s all;
}
body {
  margin: 0 auto;
  font-family: arial;
}
h1 {
  font-size: 32pt;
}
a {
  text-decoration: none;
  color: inherit;
}
.hidden {
  opacity: 0;
}
[class*="button"], #header div:not(#title) p {
  cursor: pointer;
}
#header div:not(#title) p {
  padding-left: 10px;
  padding-right: 10px;
}
#settings-list {
  display: none;
  position: absolute;
  right: 0;
  list-style-type: none;
  background-color: gray;
  z-index: 1;
}
#settings-list li {
  padding: 20px;
  text-align: left;
  border-top: 1px solid black;
  font-weight: bold;
}
#settings-list li:last-of-type {
  text-align: center;
}
#settings-list li:hover {
  background-color: #aaa;
  cursor: pointer;
}
#settings-list .editable {
  background-color: rgba(255,255,255,0.5);
  text-decoration: underline;
  padding: 4px;
}
#popup {
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  z-index: 2;
  top: 30vh;
  padding: 15px;
  width: 70%;
  left: 10%;
  box-shadow: 5px 5px 15px gray;
  display: none;
}
#popup #closeBtn {
  float:right;
  background-color: black;
  display: block;
  width: 20px;
  height: 20px;
  color:white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
#popup #closeBtn:hover {
  background-color: darkred;
}
#popup input {
  height: 20px;
  width: 90%;
  padding: 10px;
  text-align: center;
  font-size: 18pt;
  margin-bottom: 20px;
}
#popup p {
  text-align: center;
}
#popup .button {
  position: relative;
  bottom: 0;
  float: left;
  display: block;
  width: 40%;
  text-align: center;
  border-left: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 5%;
  margin-right: 4%;
  background-color: black;
  color: white;
}
.popBtn-container {
  margin-top: 10px;
}
#popup .button:hover {
  background-color: gray;
  color: black;
}
#header {
  background-color: black;
  height: 8vh;
  color: white;
  font-size: 14pt;
}
#header div {
  display: block;
  width: 33%;
  float: left;
}
#header div:first-child {
  text-align: left;
}
#header div:nth-child(2) {
  text-align: center;
}
#header div:last-child {
  text-align: right;
}
#head {
  height: 40vh;
}
#logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 20px double black;
  text-align: center;
  line-height: 12px;
  position: relative;
  transform: translate(0%,-50%);
  top: 50%;
}
#logo p {
  font-size: 32pt;
}
.main-button {
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 60%;
  margin-top: 30px;
  border-radius: 6px;
}
.main-button:hover {
  background-color: black;
  color: white;
}
#word_of_day {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  padding-top: 6vh;
}
#word_of_day p {
  text-align: left;
}
#word_of_day h1 {
  text-align: center;
}
.icon {
  font-size: 12pt;
  cursor: pointer;
  filter: grayscale(100%);
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: relative;
  float: right;
  top: 11vh;
  right: 25px;
}
.icon:hover {
  filter: grayscale(0%);
}
.icon span {
  border: 1px solid gray;
  padding: 10px;
  border-right: 3px ridge gray;
  border-bottom: 5px ridge gray;
  margin-bottom: 10px;
  transition: 0.5s all;
}
.icon span:hover {
  border-right: 3px ridge white;
  border-bottom: 5px ridge white;
}
canvas {
  width: 100% !important;
  height: 100px;
  display: none;
}