#header {
  position: fixed;
  width: 100%;
}
.card {
  width: 80%;
  box-shadow: 5px 5px 10px 2px #ccc;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.card .word {
  text-align: center;
}
#body .title {
  text-align: center;
  margin-bottom: 25px;
  padding-top: 20%;
}
.definitions {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  display: table;
  width: auto;
}
.radio {
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius:20px;
  float: left;
  cursor: pointer;
}
.radio:hover {
  border: 3px double black;
}
.radio.disabled {
  border-color: gray;
  background-color: lightgray;
  cursor: default !important;
}
.radio.disabled:hover {
  border: 3px solid gray;
}
.radio-text {
  width: 260px;
  height: 50px;
  text-align: left;
  margin-left: 10px;
  padding-left: 30px;
}
.row {
  display: table-row;
  width: auto;
  clear: both;
}
.pronounce {
  border: 3px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  height: inherit;
  margin-bottom: 15px;
}
.pronounce:hover {
  color: white;
  background-color: black;
}